/* GLOBAL VARIABLES */
:root {
  --navbar-menu-bg: #293241;
  --navbar-text-color: #ffffff; 

  --stack-html: #e34f26;
  --stack-css: #1572B7;
  --stack-js: #c4c429; 

  --social-github: #000000;
  --social-linkedin: #0077B5;
  --social-twitter: #08a0e9;
  --social-box-shadow: #82d9fc;

  --navbar-bars: #98c1d9;
  --navbar-hover-bars: #6c94ac;

  --color-white: #ffffff;
  --color-black: #000000;
}

/* NAVIGATION */
.custom-navbar {
  background: var(--navbar-menu-bg);
}

.custom-navbar__container {
  align-items: flex-end !important;
}

.custom-navbar__container > *:not(.custom-navbar__logo) {
  padding-left: 12px;  
}

.custom-navbar__logo {
  width: 45px;
  margin: 5px 20px 5px 10px;
}

.custom-nav__link {
  color: var(--navbar-text-color);
}

.custom-nav__link:focus, .custom-nav__link:hover {
  color: var(--navbar-hover-bars);  
}

.custom-navbar__menu {
  border: none;  
  align-self: center;
}

.custom-navbar__menu:focus {
  box-shadow: none;
}

.custom-navbar__bars {
  color: var(--navbar-bars);  
}

.custom-navbar__bars:hover {
  color: var(--navbar-hover-bars);  
}

/* HERO */
.custom-header {
  background-image: url("../images/hero-bg.jpg");
  background-position: 60% 37%;
  background-repeat: no-repeat; 
  border-bottom: 1px solid var(--navbar-menu-bg);
  box-shadow: 0 1px 1px 1px var(--navbar-menu-bg);
}

/* WORK */
.custom-work-container,
.custom-aboutme-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 25px;
}

.custom-title-header {
  margin: 0;
}

.custom-work-img {
  height: 100%;
  object-fit: cover;
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
}

.custom-work-body,
.custom-aboutme-body {
  display: flex ;
  flex-direction: column;
  height: 100%;
  justify-content: space-evenly;  
  padding-left: 5px;
}

.custom-work-body > *:not(.card-title):not(.custom-work-btn) {
  padding-left: 5px;
}

.custom-work-btn {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  padding-left: 5px;
}

.custom-work-btn a{
  min-width: 150px;
  margin: 0 10px 10px 0;
}

.stack-used {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  gap: 10px;
  height: 50px;
}

.stack-used > i {
  font-size: 3rem;
}

.stack-used__html {
  color: var(--stack-html);
}

.stack-used__css {
  color: var(--stack-css);
}

.stack-used__js {
  color: var(--stack-js);
}

.stack-used__corners { 
  border-radius: 5px;
}

.stack-used img { 
  height: 60px;
  width: 60px;
}

/* ABOUT ME */
.aboutme {
  margin-top: 50px;
}
.custom-aboutme-body {
  padding-top: 0;
}
.aboutme-img {
  border-radius: 100%;
  height: 250px;
  width: 250px;
  object-fit: cover;
  border: 1px solid var(--color-black);
}

.aboutme-img-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

/* SOCIALS */
.contact {
  margin-top: 100px;
  text-align: center;
}

.social {
  padding: 30px 10px;
}
.social img {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background: var(--color-white);
  margin: 0 5px;
}

.social img:hover {
  cursor: pointer;
  box-shadow: 0 1.5px 5px .10px var(--social-box-shadow);
}

.social-linkedin {
  border: 2px solid var(--social-linkedin);
}
.social-twitter {
  border: 2px solid var(--social-twitter);
}
.social-github {
  border: 2px solid var(--social-github);
}

/* FOOTER */
.footer {
  text-align: center;
  color: var(--color-white);  
}

/* MEDIA QUERIES */
@media (max-width: 768px) {
  /* hero background */
  .custom-header {
    background-position: 50% 30%;
  }

  /* work */
  .custom-work-body {
    padding: 20px;     
  }
  .custom-work-img{
    border-top-right-radius: calc( 0.375rem - ( 1px ));
    border-bottom-left-radius: 0;
  }

  /* about me */
  .aboutme {
    margin-top: 20px;
  }
  .custom-aboutme-body {
    margin-top: 15px;
  }
  .custom-aboutme-body p {
    text-align: justify;
  }
  .custom-aboutme-body h2,
  .custom-aboutme-body h3{
    text-align: center;
  }

  /* contact */
  .contact {
    margin-top: 150px;
  }
}

@media (max-width: 320px) {
  .custom-header {
    background-position: 50% -15%;
  }
}